# Core Web Framework
Flask==3.1.1
Werkzeug==3.1.3
python-dotenv==1.1.1
 
# Database
SQLAlchemy==1.4.52
 
# NLP & Sentiment Analysis
nltk==3.9.1
google-generativeai==0.8.5
 
# News Data Sources
newsapi-python==0.2.7
 
# Stock Price Data
yfinance==0.2.63
 
# Data Processing
pandas==2.3.0
numpy==2.3.1

# Web Scraping through Gnews
unidecode
gnews==0.4.3
beautifulsoup4
fake-useragent
newspaper4k
news-please
selenium
undetected-chromedriver
requests
